@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.flat {
  position: fixed;
  right: 0;
  background: rgb(0,0,0,0.8);
  opacity: 0.8;
  height: 100%;
  transition: 0.5s;
  width: calc(100% - 35vw);
}

.flat-closed {
  width: 1%;
  opacity: 0.8;
}

.sidebar {
  position: fixed;
  width: calc(100% - 64.15vw);
  height: 100%;
  display: grid;
  place-items: start center;

  background: #131313;
  transition: all 0.5s;
  z-index: 10;
}

.sidebar-links {
  position: relative;
}

.close-btn {
  top: .5%;
  left: 30%;
  position: fixed;
  cursor: pointer;
  color: white;
  width: 3em;
  height: 2.5em;
  transition: 0.5s;
  margin-top: 1.5rem;
  z-index: 10;
}

.close-btn-closed {
  top: 1em;
  transform: translateX(-15.3125em);
  left: 15.5em;
  position: fixed;
  cursor: pointer;
  color: white;
  background: transparent;
  width: 5em;
  height: 2.5em;
  transition: 0.5s;
  z-index: 10;
}

.sidebar-closed {
  width: 0em;
  display: grid;
  grid-area: 1 / 1 / 13 / 2;
  place-items: start center;

  background: #000;
  transition: all 0.5s;
  z-index: 10;
}

.sidebar-closed h1 {
  display: none;
}

.sidebar-closed a {
  visibility: hidden;
}

.sidebar h1 {
  display: block;
  color: beige;
  font-size: 2em;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 1em;
  font-size: 25px;
  text-transform: uppercase;
  transition: 0.5s;
  z-index: 10;
}

.sidebar-links h1 {
  font-family: 'Rubik';
  font-size: 2em;
}

.sidebar a {
  transition: 0.5s;
  font-family: 'Rubik', sans-serif;
  font-size: 1.4em;
  display: block;
  width: 250px;
  margin: 10px 35px;
  padding: 10px 10px;
  color: beige;
  text-decoration: none;
  letter-spacing: 2px;
  z-index: 10;
}

.sidebar a:first-letter {
  text-transform: capitalize;
}

.sidebar a:hover {
  color: #fff;
  transition: 0.4s;
}

@media (max-width: 1072px) {
  .flat {
    width: calc(100% - 35vw);
  }
  .sidebar__links__wrapper {
    font-size: .9rem;
    text-align: center;
  }
  .sidebar-links h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  .close-btn {
    top: 1rem;
    left: 30%;
    height: 3em;
    margin-top: unset;
  }
}

@media (max-width: 995px) {
  .close-btn {
    left: calc(2vw + 30%);
  }
}

@media (max-width: 920px) {
  .close-btn {
    left: calc(2vw + 1%);
  }
}

/* For Gecko based browsers like Firefox, Waterfox and GNU IceCat. */
/* This should align the sidebar width calculation properly for FF-based browsers. */
@-moz-document url-prefix() {
  .sidebar {
    width: calc(100% - 65vw);
  }
}

